Types of python to run

1. Immediate mode - cmd- python
2. Script mode - python file.py
3. IDE - Integrated Developement environment- spyder, pycharm, jupyter notebook

In [1]:
# single line Comment

""" Multiple line comment """
# print("Hi")

' Multiple line comment '

In [1]:
#Keywords

#break = 2

#Identifiers

#Identifier is a name given to entities like class, functions, variables
a = 4

a1 = 34

# 1. can be in alphabet with range of a to z
# 2. can be in range of A to Z
# 3. should not start with digits
# 4. should not be keywords
# 5. cannot use special symbols !,@,#,$,%
#global = 5 

a$ = 7

SyntaxError: invalid syntax (<ipython-input-1-95fe79a7acde>, line 19)

In [2]:
#Statements

a = 1 #assigngment statement 

b = a


#Multiple Statement
a = 1 + 2 +3 + 4 + \
    2 + 4 +\
    3 + 4
    
print(a)

a = (2 + 5 + 3 + 3 +
     2 + 5 + 6
     + 4)
print(a)


#Multiple Assigngment statement
a = 54; b = 43; c = 42;

print(a,b,c)

a, b, c = 2, 4.2, "Hello"

print(a,b,c)

a = b = c = "same data"

print(a,b,c)

23
30
54 43 42
2 4.2 Hello
same data same data same data

In [2]:
a, b, c= 2, 3.4, "ds"
print(a, b, c)

c = 4.5
type(c)

2 3.4 ds

float

In [1]:
# Case sensitive language

data = 5
Data = 6

print(data)
print(Data)

5
6

In [6]:
#Indentation


for i in range(1,11):    
    print(i)
    if(i==5):
        print("Inside if loop")
        break     
    print("Inside for loop")    
    
if True:
    print("Hi")
        

if True: print("Hello"); a =34; print(a)

1
Inside for loop
2
Inside for loop
3
Inside for loop
4
Inside for loop
5
Inside if loop
Hi
Hello
34

In [16]:
for a in range(1,5):
    print(a)
    print("inside for")
    if(a==4):
        break
print("out of for")

1
inside for
2
inside for
3
inside for
4
inside for
out of for

In [1]:
a = 5
print("a is of type", type(a))

a = 4.35
print("a is of type", type(a))

a = "Hello"
print("a is of type", type(a))

a = 1+2j
print("a is of type", type(a))

isinstance("dcfsd",str)

a is of type <class 'int'>
a is of type <class 'float'>
a is of type <class 'str'>
a is of type <class 'complex'>

True

In [14]:
for a in range(1,11):
    print (a)
    
ar = [1,2,3,45,90]
for a in ar:
    print (a)

1
2
3
4
5
6
7
8
9
10
1
2
3
45
90

In [15]:
ar[-2]

45